@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container > div {
    height: 160px;
    width: 250px;
    background: red;
    padding: 26px;
    margin: 100px;
}
